<template>
  <div>
    <h2>Корзина</h2>
    <div v-if="Object.keys(cart).length > 0">
      <table>
        <tr>
          <th></th>
          <th>Номинал</th>
          <th class="size">Количество</th>
          <th>Сумма</th>
          <th></th>
        </tr>
        <tr
          class="brand"
          v-for="item in cart"
          v-bind:key="`brand${item.brand.id}.${item.value}`"
        >
          <td class="title">
            <div class="img" :style="{ backgroundImage: 'url(' + item.brand.image + ')' }"></div>
            {{item.brand.title}}
          </td>
          <td>{{ item.value }}р.</td>
          <td class="size">
            <span
              class="btnSize"
              @click="$store.dispatch('minusBrand', item)"
            >-</span>
            <span>{{ item.size }}</span>
            <span
              class="btnSize"
              @click="$store.dispatch('setCart', item)"
            >+</span>
          </td>
          <td>{{ item.value * item.size }}р.</td>
          <td><div class="btn">Удалить</div></td>
        </tr>
      </table>
      <span class="total">
        <span>
          К оплате {{ total }} рублей
        </span>
        <div class="btn">
          Оплатить
        </div>
      </span>
    </div>
    <div v-else>
      <h3>Корзина пуста</h3>
    </div>
  </div>
</template>
<script>

export default {
  computed: {
    cart() {
      return this.$store.getters.cartCompilate;
    },
    total() {
      return this.$store.getters.cartTotal;
    },
  },
};
</script>
<style lang="scss" scoped>
table {
  width: 100%;
  th {
    text-align: left;
  }
}
.brand {
  margin: 8px 0;
  .title {
    display: flex;
    align-items: center;
    .img {
      width: 120px;
      height: 75px;
      background-position: center;
      background-size: cover;
      margin: 8px 16px 8px 0;
    }
  }
  .size {
    line-height: 20px;
    .btnSize {
      font-family: 'impact';
      font-size: 18px;
      font-weight: bold;
      margin: 0 6px;
      cursor: pointer;
      transition: color 200ms;
      user-select: none;
      &:hover {
        color: #f16536;
      }
    }
  }
}
.btn {
  display: block;
  text-align: center;
  line-height: 24px;
  padding: 0 6px;
  background-color: #f16536;
  color: #fff;
  cursor: pointer;
  transition: background-color 300ms;
  user-select: none;
  &:hover {
    background-color: rgba(241,101,54,0.80);
  }
  &.not-active {
    background-color: rgb(232, 232, 232);
    pointer-events: none;
  }
}
.total {
  line-height: 40px;
  font-size: 28px;
  display: flex;
  justify-content: flex-end;
  .btn {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    margin-left: 18px;
  }
}
</style>
