<template>
  <div>
    <div class="title">
      {{ meta[0].title }}
    </div>
    <vue-custom-scrollbar class="brand-container">
      <Card v-for="item in brands" :brand="item" v-bind:key="'brand'+item.id"></Card>
    </vue-custom-scrollbar>
  </div>
</template>

<script>
import vueCustomScrollbar from 'vue-custom-scrollbar';
import Card from '../components/Card.vue';

export default {
  name: 'Category',
  components: { Card, vueCustomScrollbar },
  computed: {
    meta() {
      return this.$store.getters.menu.filter(item => (
        (item.code === this.$route.params.code) || (Object.keys(this.$route.params).length === 0)
      ));
    },
    brands() {
      return this.$store.state.brands.filter(item => (
        (item.categories.filter(cat => (cat === this.meta[0].id))).length > 0
        || (Object.keys(this.$route.params).length === 0)
      ));
    },
  },
  mounted() {
    this.$store.dispatch('updateBrands');
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 32px;
  font-weight: 600;
}
.brand-container {
  height: calc(100vh - 140px);

}
</style>
<style lang="scss">
  .ps__rail-y {
    .ps__thumb-y {
      background-color: rgb(241,101,54);
    }
    &.ps--clicking>.ps__thumb-y {
      background-color: rgb(241,101,54);
    }
    &:hover>.ps__thumb-y {
      background-color: rgb(241,101,54);
    }
  }
</style>
