<template>
<router-link to="/cart" class="button">
  <div class="cart-size">{{ cartSize }}</div>
  <div class="icon-shopping-cart"></div>
</router-link>
</template>

<script>
export default {
  name: 'ButtonCart',
  computed: {
    cartSize() {
      return this.$store.state.cart.length;
    },
  },
};
</script>

<style lang="scss" scoped>
.button {
  transition: color 200ms;
  color: #d8d8d8;
  display: flex;
  justify-content: flex-end;
  &:hover {
    color: #f16536;
  }
  .cart-size {
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    margin-right: 4px;
  }
  .icon-shopping-cart{
    display: inline-block;
    &:before {
      font-family: "icomoon";
      font-size: 24px;
      line-height: 40px;
      content: "\e900";
    }
  }
}
</style>
