<template>
  <div class="card">
    <div class="img" :style="{ backgroundImage: 'url(' + brand.image + ')' }"></div>
    <div class="name">{{ brand.title }}</div>
    <div class="faces">
      <select v-model="face">
        <option disabled :value="undefined">Купон</option>
        <option v-for="item in brand.faces" v-bind:key="'face'+brand.title+item">{{ item }}</option>
      </select>
      <div
        @click="$store.dispatch('setCart', { brand: brand, value: face })"
        :class="btnActive ? 'btn' : 'btn not-active'">
        Купить
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: ['brand'],
  data() {
    return {
      face: undefined,
    };
  },
  computed: {
    btnActive() { return (this.brand.faces.length > 0) && (this.face); },
  },
  methods: {
  },
};
</script>

<style lang="scss">

</style>

<style lang="scss" scoped>
.card {
  width: 200px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  transition: all 200ms;
  position: relative;

  &:hover {
    box-shadow: 0 0 6px rgba(241,101,54,0.3);
  }

  .img {
    width: 100%;
    height: 115px;
    background-position: center;
    background-size: cover;
  }
  .name {
    padding: 8px;
    width: calc(100% - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
  }
  .faces {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    select {
      border: none;
      border-bottom: 1px solid #f16536;
      height: 24px;
      width: 80px;
    }
    .btn {
      line-height: 24px;
      padding: 0 16px;
      background-color: #f16536;
      color: #fff;
      cursor: pointer;
      transition: background-color 300ms;
      user-select: none;
      &:hover {
        background-color: rgba(241,101,54,0.80);
      }
      &.not-active {
        background-color: rgb(232, 232, 232);
        pointer-events: none;
      }
    }
  }
}
</style>
