<template>
  <div class="head-wrap">
    <div class="head g-wrapper">
      <router-link to="/">
        <img src="../assets/logo.svg" class="logo" alt="Giftery">
      </router-link>
      <ButtonCart />
    </div>
  </div>
</template>

<script>
import ButtonCart from './ButtonCart.vue';

export default {
  name: 'Head',
  components: { ButtonCart },
};
</script>

<style lang="scss" scoped>
.head-wrap {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  .head {
    height: 40px;
    padding: 8px 0;
    margin-bottom: 24px;
    .logo {
      height: 40px;
    }
  }
}
</style>
