<template>
  <div class="menu">
    <router-link class="link"
                 v-for="item in menuList"
                 :to="'/'+item.code"
                 v-bind:key="'menu_'+item.code"
    >
      {{ item.title }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  computed: {
    menuList() {
      return this.$store.getters.menu;
    },
  },
  mounted() {
    this.$store.dispatch('updateCategories');
  },
};
</script>

<style lang="scss" scoped>
.menu {
  margin-top: 14px;
  min-width: 225px;
  width: 225px;
  display: flex;
  flex-direction: column;
  text-align: left;
  .link {
    transition: color 200ms;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #f16536;
    }
    &.router-link-exact-active {
      cursor: default;
      color: #f16536;
      font-weight: 600;
    }
  }
}
</style>
