<template>
  <div id="app">
    <Head />
    <div class="g-wrapper">
      <Menu v-if="$router.history.current.name !== 'cart'"/>
      <router-view class="content"/>
    </div>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
input[type='number'] { -moz-appearance:textfield; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none;}
a {
  text-decoration: none;
  color: #2c3e50;
}
@font-face {
  font-family: "icomoon";
  src: url("assets/icomoon.eot");
  src: url("assets/icomoon.woff") format("woff"),
  url("assets/icomoon.ttf") format("ttf");
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
}
.g-wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content {
  flex-grow: 1;
}
</style>
<script>
import Head from './components/Head.vue';
import Menu from './components/Menu.vue';

export default {
  components: { Menu, Head },
};
</script>
